.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.footer {
  margin-top: 100px;
  padding-bottom: 20px;
}
h1 {
  font-family: inherit;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 5px;
  margin-top: 0;
  color: #125d98;
}

.heading {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  text-decoration-thickness: 5px;
  text-decoration-color: #125d98;
  list-style: none;
  transition: opacity 0.4s ease-in-out;
}

.heading::before {
  content: "\2022";
  color: #125d98;
  font-weight: bold;
  font-size: 2rem;
  display: inline-block;
  width: 1em;
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}
input {
  width: 530px;
  height: 30px;
  background-color: cornsilk;
  border-radius: 5px 0 0 5px;
  border: 0;

  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  padding-left: 10px;
}
input:focus {
  outline: none;
}
.editInput {
  width: 400px;
  border: 0;
  border-radius: 5px;
  overflow-wrap: break-word;
}
button {
  height: 32px;
  border: 0;
  border-radius: 0 5px 5px 0;
  background-color: #125d98;
  color: white;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
button:disabled {
  background-color: lightgrey;
  color: #222;
  cursor: not-allowed;
  outline: none;
  border: 0;
}
.mainContainer {
  padding: 20px;
  width: 600px;
  margin: 0 auto;
}
.listContainer {
  width: 600px;
  margin: 0 auto;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px auto;
  padding: 5px;
  height: 40px;
}

.dropdown {
  margin-left: 20px;
  height: 35px;
  background-color: cornsilk;
  border-radius: 5px;
  border: 0;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;
}
.dropdown:focus {
  outline: none;
}
.update {
  border-radius: 0;
  background-color: #39a9cb;
  margin-left: 5px;
  height: 35px;
  padding: 5px 10px;
}
.delete {
  border-radius: 0;
  background-color: cornsilk;
  margin-left: 10px;
  height: 35px;
}
.date {
  width: 150px;
  height: 35px;
  margin-left: 20px;
  border-radius: 5px;
  border: 0;
}
.deleteTodo {
  display: block;
  margin-left: 400px;
  margin-bottom: 20px;
  font-weight: 700;
  border-radius: 0;
  cursor: pointer;
  background-color: cornsilk;
  color: black;
  padding: 5px;
  width: 100px;
  margin-left: 495px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.deleteTodo:hover {
  color: cornsilk;
  background-color: black;
}

/* media queries */
@media screen and (max-width: 767px) {
  .mainContainer {
    padding: 10px;
    width: 400px;
    margin: 0 auto;
  }
  .listContainer {
    width: 400px;
    margin: 0 auto;
  }
  h1 {
    font-size: 3rem;
  }
  input {
    width: 330px;
    height: 41px;
  }
  .editInput {
    width: 200px;
    height: 30px;
  }
  button {
    height: 42px;
  }
  .dropdown {
    height: 42px;
  }
  .heading {
    font-size: 1rem;
  }
  .heading::before {
    font-size: 1.2rem;
  }
  .date {
    margin-top: 30px;
    width: 150px;
    margin-right: 30px;
    height: 42px;
  }
  .deleteTodo {
    margin-left: 296px;
    height: 30px;
  }
}

@media screen and (max-width: 515px) and (min-width: 320px) {
  .mainContainer {
    width: 350px;
    margin: 0 auto;
  }
  .listContainer {
    width: 350px;
    margin: 5px auto;
  }
  h1 {
    font-size: 2.5rem;
  }
  input {
    width: 280px;
  }
  .editInput {
    width: 150px;
    font-size: 0.8rem;
  }
  button {
    font-size: 0.8rem;
  }
  .deleteTodo {
    margin-left: 242px;
    margin-top: 30px;
  }
}
